<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>WebScraper</title>
    <meta name="description" content="WebScraper">

    <!-- Include partials -->
    <%- include('../partials/head.ejs') %>

    <script src="./js/scripts.js"></script>
</head>

<body>
    <div id="content">
        <%- include('../partials/content.ejs') %>
        <%- include('.//modal.ejs') %>
    </div>
    <aside>
        <%- include('../partials/aside.ejs') %>
    </aside>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>