<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Online Web Scraper Tool</title>
    <meta name="author" content="Lukas Bunat">
    <meta name="description" content="WebScraperTool">

    <!-- Include partials -->
    <%- include("../partials/head/head.ejs") %>
    <%- include("../partials/head/headJS.ejs") %>
</head>

<body>
    <header>
        <h1>Web Scraper Tool</h1>
    </header>
    <main id="content">
        <%- include('../partials/content/search.ejs' ) %>
        <%- include('../partials/content/parameters.ejs' ) %>
        <%- include('../partials/content/result.ejs' ) %>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>